@use './partials/variables' as *;

@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../img/blurry-gradient-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $white;

    main{
        margin-top: 100px;
    }
    .mynavbar{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(74, 57, 173, 0.404);
        box-shadow: rgb(255, 255, 255) 0px 10px 20px -10px;
        backdrop-filter: blur(5px);
    }

    .mylink{
        color: lightblue;
        &:hover{
            color: #fff;
        }
    }

    h1{
        color: $light-red;
        // text-shadow: 2px 2px 5px $white;
        // border: 1px solid black;
        color: lightblue;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
    }

    .left>img{
        border-radius: 50%;
        border: 2px solid $white;
    }

    .mycard{
        background-color: transparent;
        border: 1px solid $light-red;
        .card-header{
            border-bottom: 1px solid $light-red;
        }
    }

    .btn-danger{
        background-color: rgb(10, 15, 87);
        border: 1px solid #fff;
        &:hover{
            background-color: lightblue;
            color: $black;
            border: 1px solid $black;
        }
        
    }

    .mytable{
        color: lightblue;
    }
}